body {
  height: 3000px;
}

.header {
  background-color: bisque;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;


}

.customer-info{
display: flex;
align-items: center;
  

}
.profile-photo {
width: 30px;
height: 30px;
border-radius: 15px;
object-fit: cover;
margin-left: 5px;
margin-right: 10px;

}

p {
  font-style: Arial;
  font-weight: bold;
}

.signal-buttons {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.add-button {
  background-color: rgb(24, 119, 242);
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-right: 3px;

}

.message-button {
  background-color: rgb(230, 230, 230);
  border: none;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
}