
  .request-button {
    background-color: black;
    color: white;
    width: 115px;
    height: 40px;
    border: none;
    font-weight: lighter;
    font-size: 12px;
    margin-right: 50px;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .request-button:hover {
    opacity: 0.7;
  }

  .add-button {
    background-color: rgb(255, 216, 20);
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 50px;
    cursor: cell;
    transition: background-color 0.15s;
  }

  .add-button:hover {
    background-color: rgb(230, 194, 17);
  }
 
  .sign-button {
    background-color: rgb(46, 164, 79);
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
    cursor: crosshair;
    transition: box-shadow 0.15s ;
  }
  
  .sign-button:hover {
    box-shadow: 0px 5px 10px 
  rgba(0, 0, 0, 0.15); 
  }
  

  .get-button {
    background-color: rgb(121, 82, 179);
    color: white;
    width: 115px;
    height: 40px;
    border-radius: 3px;
    border: none;
    margin-right: 5px;
    cursor: copy;
    transition: background-color 0.15s;
  }

  .get-button:hover {
    background-color: rgb(104, 57, 175);
  }
  
  .download {
    color: rgb(108, 117, 125);
    background-color: white;
    border: 1px;
    border-radius: 3px;
    border-color: rgb(108, 117, 125);
    border-style: solid;
    width: 110px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    margin-right: 35px;
    cursor: alias;
    transition: background-color 0.15s, 
  color 0.15s;
  }

  .download:hover {
    color: white;
    background-color:rgb(108, 117, 125);
  }

  .apply {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    cursor: cell;
    transition: background-color 0.15s;
  }

  .apply:hover {
    background-color: rgb(38, 138, 237);
  }

  .save {
    color: rgb(10, 102, 194);
    background-color: white;
    border: 1px;
    border-radius: 20px;
    border-color: rgb(10, 102, 194);
    border-style: solid;
    width: 85px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    cursor: all-scroll;
    margin-bottom: 70px;
    transition: background-color 0.15s, 
    border width 0,15s;
  }

  .save:hover {
    background-color: rgb(130, 180, 206);
    border-width: 3px;
  }

  .link {
    color: rgb(0, 113, 133);
    transition: color 0.15s;
  }
  .link:hover {
    color: rgb(230, 76, 25);
  }
  
  .title {
    font-size: 23px;
    font-weight: bold;
  }

  .price {
    color: rgb(0, 118, 0);
    font-weight: bold;
  }

  .yellow {
    border: none;
    background-color: rgb(255, 216, 20);
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    transition: opacity 2s;
  }
  .yellow:active {
    opacity: 0.1;
  }

  .orange {
    border: none;
    background-color: rgb(255, 164, 28);
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
    transition: opacity 0.15s;
  }
  .orange:active {
    opacity: 0.8;
  }
  